body {
    background: #26b5ed;
    background: linear-gradient(90deg, rgba(38, 181, 237, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 10px;
}

.success {
    color: green;
    font-size: 0.9em;
    margin-top: -15px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: blue;
}

p a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}